.about-characters {
  border-radius: 32px;
  padding: 50px 25px;
  max-width: 453px;
  transform: translateY(20%);
  background: var(--about-bg);

  .title {
    font-family: var(--ff-title);
    font-size: 44px;
    color: var(--white);
  }

  .description {
    font-family: var(--ff-text);
    font-size: 28px;
    color: var(--white);
  }
}

@media screen and (width <= 1290px) {
  .about-characters {
    width: 235px;
    min-height: 185px;
    padding: 12px 14px 8px 14px;
    order: 1;

    .title {
      font-size: 20px;
      font-weight: 700;
      line-height: 23px;
    }

    .description {
      font-size: 15px;
      font-weight: 500;
      line-height: 18.29px;
    }
  }
}

@media screen and (width <= 465px) {
  .about-characters {
    border-radius: 30px;
    padding: 12px 14px 8px 14px;
    max-width: 235px;
  }
}
