/* TODO: Adapt .characters */

.characters {
  position: relative;
  max-width: 100%;
  display: flex;

  .character {
    /* position: absolute; */
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 655px;
    width: 283px;
    user-select: none;
    z-index: 1;
    cursor: pointer;
    transition: 0.5s ease-in-out;

    &.man {
      &:hover {
        scale: 1.06;
        /* filter: drop-shadow(inset 4px 4px 5px 0 #bde3c7); */
        /* filter: drop-shadow(14px 14px 1px #bde3c7); */
        filter: drop-shadow(0px 0px 10px #58b26f);
      }
      &:active {
        filter: brightness(70%) drop-shadow(0px 0px 10px #58b26f);
      }
    }

    &.cat {
      &:hover {
        scale: 1.06;
        filter: drop-shadow(0px 0px 10px #8f331f);
      }
      &:active {
        filter: brightness(70%) drop-shadow(0px 0px 10px #8f331f);
      }
    }

    &.woman {
      &:hover {
        scale: 1.06;
        filter: drop-shadow(0px 0px 10px #dcb370);
      }
      &:active {
        filter: brightness(70%) drop-shadow(0px 0px 10px #dcb370);
      }
    }

    & > * {
      position: absolute;
      z-index: 1;
      width: auto;
      height: 100%;
      pointer-events: none;
      user-select: none;
    }

    .shirt {
      z-index: 2;
    }

    .body {
      z-index: 0;
    }
  }

.character.cat {
  width: 25px;
  z-index: 2;
  #eys {
    width: 46px;
    left: -43px;
    top: 407px;
    height: 22px;
  }
  #ears {
    width: 82px;
    height: 127px;
    left: -58px;
    top: 341px;
  }
  #scarf {
    width: 91px;
    height: 159px;
    top: 415px;
    left: -67px;
  }
  #tail {
    width: 213px;
    height: 463px;
    left: -82px;
    top: 265px;
  }
  #body {
    width: 193px;
    top: 168px;
    left: -72px;
   }
}
  
  .floor {
    position: absolute;
    bottom: 0;
    border-radius: 100%;
    fill: linear-gradient(1deg, rgba(87, 145, 161, 0) 0%, #e7fbe7 100%);
    filter: blur(10px);
    pointer-events: none;
    user-select: none;
  }
}

@media screen and (width <= 1290px) {
  .characters {
    .character {
      width: 125px;
      height: 287px;
    }

    .floor {
      width: -webkit-fill-available;
      border: 1px solid whitesmoke;
      background: lightgoldenrodyellow;
    }
  }
}
